/*GERAL*/
html body{font-family:'Muli',sans-serif;}
.container{padding:2rem;}

/*ESTILIZANDO O HEADER E A FOTO DO TOPO DA PAGINA*/
/*Tive que colocar as informações de contato que ficam grudadas no topo fora do header para que elas acompanhem a página toda*/
#contato{padding:1rem;background-color:#000;font-size:2rem;color:#fff;font-family:'Limelight',cursive;text-align:center;}
#contato-header{padding:0.5rem 1rem;display:flex;text-align:center;align-items:center;justify-content:space-between;color:#fff;background-color:#000;font-size:1.5rem;position:-webkit-sticky; /* Safari */position:sticky;top:0;}
#icones-header{display:flex;text-align:center;align-items:center;justify-content:center;}
#icones-header a{transition:0.3s;margin-left:1rem;color:#fff;font-size:2rem;}
#icones-header a:hover{color:#ff2020;}
#container-titulo{height:40vh;display:flex;flex-direction:column;text-align:center;align-items:center;justify-content:center;padding:1rem 5rem 2rem 5rem;background-color:#000000;}
#titulo{font-size:4rem;margin-bottom:1rem;color:#FF2020;font-family:'Limelight',cursive;}
#subtitulo{font-size:1.2rem;color:#fff;line-height:1.5;letter-spacing:10px;}
#imagem-topo{height:40vh;background-image:url("imagens/filipe.jpg");background-position:top center;background-size:cover;}

/*ESTILIZANDO O CONTAINER ONDE FICA A BIO SOBRE*/
#sobre{min-height:50vh;color:#fff;background-color:#333333;display:flex;flex-direction:column;justify-content:center;}
#sobre h3{font-size:2rem;margin-bottom:1rem;}
#sobre p{line-height:1.5;}

/*ESTILIZANDO O CAONTAINER TRABALHOS*/
#trabalhos{padding:2rem;padding-top:1rem;background-color:#000;}
#trabalhos h3{color:#fff;font-size:2rem;text-align:center;margin-bottom:1rem;}

/*ESTILIZANDO E ORGANIZANDO OS CARDS*/
.trabalhos-cards{display:flex;flex-wrap:wrap;justify-content:center;align-items:center;}
.trabalhos-cards img{transition:0.3s;padding:0.1rem;width:10vw;height:100%;background-color:#fff;border-radius:2px;}
.trabalhos-cards img:hover{width:11vw;}
.card{transition:0.3s;width:60px;height:75px;border-radius:2px;border:2px solid #fff;margin:0.5rem;background-position:center center;background-size:100%;background-repeat:no-repeat;}
.card:hover{background-size:150%;}
#img001{background-image:url(imagens/art001.jpg);}
#img002{background-image:url(imagens/art002.jpg);}
#img003{background-image:url(imagens/art003.jpg);}
#img004{background-image:url(imagens/art004.jpg);}
#img005{background-image:url(imagens/art005.jpg);}
#img006{background-image:url(imagens/art006.jpg);}

/*ESTILIZANDO O FOOTER*/
#footer{max-height:85vh;min-height:85vh;background-color:#262626;color:#fff;display:flex;justify-content:space-between;text-align:center;flex-direction:column;}
#contato-footer{display:none;}
#end p{letter-spacing:5px;font-size:1rem;line-height:2;font-weight:bold;color:#ff2020;text-transform:uppercase;}
#mapa{width:100%;margin-top:1rem;}