/*GERAL*/
html body{font-family:'Muli',sans-serif;}
.container{padding:2rem;}

/*ESTILIZANDO O HEADER E A FOTO DO TOPO DA PAGINA*/
/*Tive que colocar as informações de contato que ficam grudadas no topo fora do header para que elas acompanhem a página toda*/
#contato{padding:1rem;background-color:#000;font-size:2rem;color:#fff;font-family:'Limelight',cursive;text-align:center;}
#contato-header{padding:0.5rem 1rem;display:flex;text-align:center;align-items:center;justify-content:space-between;color:#fff;background-color:#000;font-size:1.5rem;position:-webkit-sticky; /* Safari */position:sticky;top:0;}
#contato-header a{transition: 0.3s;color:#fff;}
#contato-header a:hover{color:#ff2020;}
#icones-header{display:flex;text-align:center;align-items:center;justify-content:center;}
#icones-header a{transition:0.3s;margin-left:1rem;color:#fff;font-size:2rem;}
#icones-header a:hover{color:#ff2020;}
#container-titulo{height:40vh;display:flex;flex-direction:column;text-align:center;align-items:center;justify-content:center;padding:1rem 5rem 2rem 5rem;background-color:#000000;}
#titulo{font-size:4rem;margin-bottom:1rem;color:#FF2020;font-family:'Limelight',cursive;}
#subtitulo{font-size:1.2rem;color:#fff;line-height:1.5;letter-spacing:10px;}
#imagem-topo{height:40vh;background-image:url("imagens/filipe.jpg");background-position:top center;background-size:cover;}

/*ESTILIZANDO O CONTAINER ONDE FICA A BIO SOBRE*/
#sobre{color:#fff;background-color:#000; padding: 0rem 2rem;}
#sobre h3{font-size:2rem;text-align: center;padding:1rem 0rem;}
#sobre p{line-height:1.5;}

/*ESTILIZANDO O CAONTAINER TRABALHOS*/
#trabalhos{background-color:#000; padding: 0rem 2rem;}
#trabalhos h3{color:#fff;font-size:2rem;text-align: center;padding: 1rem 0rem;	}

/*ESTILIZANDO E ORGANIZANDO OS CARDS*/
.trabalhos-cards{display:flex;flex-wrap:wrap;justify-content:center;align-items:center;}
.card{transition:0.3s;width:100px;height:125px;border-radius:2px;border:2px solid #fff;margin:0.2rem;background-position:center center;background-size:100%;background-repeat:no-repeat;}
.card:hover{background-size:125%;}
#img001{background-image:url(imagens/art001.jpg);}
#img002{background-image:url(imagens/art002.jpg);}
#img003{background-image:url(imagens/art003.jpg);}
#img004{background-image:url(imagens/art004.jpg);}
#img005{background-image:url(imagens/art005.jpg);}
#img006{background-image:url(imagens/art006.jpg);}

/*ESTILIZANDO O FOOTER*/
#footer{max-height:85vh;min-height:85vh;background-color:#000;color:#fff;display:flex;justify-content:space-between;text-align:center;flex-direction:column;}

#end p{letter-spacing:5px;font-size:1rem;line-height:2;font-weight:bold;color:#ff2020;text-transform:uppercase;}
#mapa{width:100%;margin-top:1rem;}
















































@media only screen and (min-width: 800px){
	
#contato-header{padding:0.5rem 3rem;display:flex;text-align:center;align-items:center;justify-content:space-between;color:#fff;background-color:#000;font-size:2rem;position:-webkit-sticky; /* Safari */position:sticky;top:0;}
#icones-header{display:flex;text-align:center;align-items:center;justify-content:center;}
#icones-header a{transition:0.3s;margin-left:3rem;color:#fff;font-size:3rem;}
#icones-header a:hover{color:#ff2020;}
#container-titulo{height:85vh;display:flex;flex-direction:column;text-align:center;align-items:center;justify-content:center;padding:1rem 5rem 2rem 5rem;background-color:#000000;}
#titulo{font-size:6rem;margin-bottom:1rem;color:#FF2020;font-family:'Limelight',cursive;}
#subtitulo{font-size:1.2rem;color:#fff;line-height:1.5;letter-spacing:10px;}
#imagem-topo{height:60vh;background-image:url("imagens/filipe.jpg");background-position:top center;background-size:cover;}

/*ESTILIZANDO O CONTAINER ONDE FICA A BIO SOBRE*/
#sobre{color:#fff;background-color:#000; padding: 3rem 6rem;}
#sobre h3{font-size:3rem;text-align: left;padding:1rem 0rem;}
#sobre p{line-height:1.5;font-size: 1.2rem;}

/*ESTILIZANDO O CAONTAINER TRABALHOS*/
#trabalhos{background-color:#000; padding: 3rem 6rem;}
#trabalhos h3{color:#fff;font-size:3rem;text-align: left;padding: 1.5rem 0rem;	}

/*ESTILIZANDO E ORGANIZANDO OS CARDS*/
.trabalhos-cards{display:flex;flex-wrap:wrap;justify-content:center;align-items:center;}
.card{transition:0.3s;width:250px;height:250px;border-radius:2px;border:2px solid #fff;margin:0.2rem;background-position:center center;background-size:125%;background-repeat:no-repeat;}
.card:hover{background-size:150%;}
#img001{background-image:url(imagens/art001.jpg);}
#img002{background-image:url(imagens/art002.jpg);}
#img003{background-image:url(imagens/art003.jpg);}
#img004{background-image:url(imagens/art004.jpg);}
#img005{background-image:url(imagens/art005.jpg);}
#img006{background-image:url(imagens/art006.jpg);}

/*ESTILIZANDO O FOOTER*/
#footer{max-height:85vh;min-height:85vh;background-color:#000;color:#fff;display:flex;justify-content:space-between;text-align:center;flex-direction:row;align-items: center;}

#end p{letter-spacing:5px;font-size:1.5rem;line-height:3;font-weight:bold;color:#ff2020;text-transform:uppercase;padding:0rem 2rem;}
#mapa{width:80%;margin-top:0rem;}
	
}